*{
    margin: 0;
     box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
}
.container{
    border-radius: 20px;
    box-shadow: 15px 15px 60px black;
    width: 85%;
    margin: 50px 30px;
    padding: 50px;
    position: relative;
}
.title{
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 9px goldenrod;
}
.note{
    background-color: #F5F5DC;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.code{
   margin: 30px;
   font-size: larger;
}
.test-cases{
    font-size: medium;
}
button{
    position: absolute;
    right: 100px;
    box-shadow: 1px 10px 20px red;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer ;
}
